:root {
  /* ---- GLOBAL VARIABLES ---- */
  /* -- Media-Queries Breakpoints (media-query no acepta variables sin libreria de por medio) -- */
  --media-query-lg: 1200px;
  --media-query-md: 780px; /* Referencia: iPad Mini --> 768px */
  --media-query-sm: 540px;
  --media-query-xs: 420px; /* Referencia: iPhone XR --> 414px */

  /* -- Containers Parameters -- */
  --container-max-width: 1170px;
  --header-height: 72px;
  --footer-height: 72px;

  /* -- Theme Color Scheme -- */
  --color-primary: rgb(100, 147, 205);
  --color-secondary: rgb(48, 79, 129);
  /* --color-secondary: rgba(124, 152, 197, 0.92); */
  --color-tertiary: rgb(180, 180, 180);
  --color-cuaternary: rgb(255, 79, 47);
}

html{
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

/* ---- HEADER STYLES ---- */
.header-root {
  /* border-bottom: 1px solid var(--color-secondary);
  display: flex;
  height: var(--header-height);
  justify-content: center;
  background-color: var(--color-secondary);
  font-weight: bold; */

  /* background-color: rgba(26, 60, 113, 0.92); */
  background-color: var(--color-secondary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);
  color: white;
  display: flex;
  font-weight: bold;
  height: var(--header-height);
  justify-content: center;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  max-width: var(--container-max-width); /* checkear el width con media-queries */
  width: 90%;
}

.header-navbar {
  align-items: center;
  display: flex;
  gap: 0.3rem;
  height: 100%;
  transition: 0.3s; /* Transición del slide cuando se presiona el burger-btn */
}

.header-burger {
  display: none;
  cursor: pointer;
}

.header-btn {
  /* align-items: center;
  display: flex;
  padding: 0 0.7rem;
  text-decoration: none;
  border-radius: 5px;
  color: black; */

  align-items: center;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  height: 36px;
  padding: 0 0.7rem;
  text-decoration: none;
  transition: 0.2s;
}

.on-page {
  border: 1px solid var(--color-cuaternary);
}

.header-btn:hover {
  background-color:  rgba(255, 255, 255, 0.2);
}

.header-burger-btn {
  display: none;
  cursor: pointer;
}

.header-cart-btn {
  /* align-items: center;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: center;
  padding: 4px;
  position: relative;
  transition: 0.1s;
  width: 36px; */

  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ffffff38;
  color: white;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: relative;
  transition: 0.2s;
  width: 32px;
}

.logo{
  max-width: 70%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.header-logo{
  max-width: 70%;
  height: 70px;
}

.header-cart-btn img {
  /* max-width: 70%;
  height: auto;
  transition: 0.2s; */

  filter: invert();
  height: auto;
  max-width: 60%;
  transition: 0.2s;
}

.header-cart-btn:hover {
  background-color:  rgba(255, 255, 255, 0.2);
}
.header-cart-btn:active {
  background-color: var(--color-secondary);
}

.header-cart-btn:active img {
  filter: invert();
}

.header-cart-counter {
  align-items: center;
  background-color: var(--color-cuaternary);
  border-radius: 12px;
  bottom: -9px;
  color: white;
  display: none;
  font-weight: bold;
  font-size: 0.9rem;
  height: 21px;
  justify-content: center;
  position: absolute;
  right: -9px;
  width: 21px;
  z-index: 5;
}

.burger-counter {
  display: none;
  top: 40px;
  right: 3.5%;
}

/* ---- MAIN STYLES ---- */
.main-root {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 2px);
  background-color: #f1f2f5;
  /* NOTA: los 2px son de los bordes solidos del header y el footer (1px cada uno) */
}

.main-container {
  max-width: var(--container-max-width); /* checkear el width con media-queries */
  width: 90%;
  padding: 2rem 0;
}


/* ---- MAIN STYLES ---- */
.pack-list-message {
  /* display: none;
  align-items: center;
  border-radius: 24px;
  border: 2px dashed lightgray;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 240px;
  padding: 2rem;
  text-align: center; */

  align-items: center;
  border-radius: 12px;
  border: 2px dashed lightgray;
  color: gray;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  height: 250px;
  justify-content: center;
  text-align: center;
}

/* ---- HOME-SLIDER STYLES ---- */
.home-slider{
    width: 100%;
    max-width: 120em;
    background-color: whitesmoke;
    margin: 1% 0 0 0;
    padding: 0;
    overflow-x: hidden; /*Para que no pegue el salto al mover el slide*/
    border-radius: 8px;
    box-shadow: 0 0 0 5px whitesmoke,
                0 5px 5px;
    position: relative;
}

.home-slider .slider-container {
  align-items: center;
  background-color: var(--color-secondary);
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  margin-left: -100%; /* margin-left DEBE quedar por debajo de margin para que éste no lo sobreescriba */
  max-height: 500px;
  overflow: hidden;
  position: relative;
  width: 500%;

  transition: all .5s ease;
  transform: translateX(0%); /* Posición inicial del carrusel */
}

.home-slider .slide-image {
  min-height: 10vh; /* 400px; Chequear altura con el tamaño de fuente final */
  width: 100%;
  height: 100%;
  display: block;
  align-self: center;
  position: relative;
  z-index: 0;
  object-fit: cover;
}

.home-slider .slide {
  min-height: 10vh; /* 400px; Chequear altura con el tamaño de fuente final */
  width: 100%;
  align-self: center;
  position: relative;
  z-index: 0; 
}

.home-slider .slider-nav-btn:hover {
  background-color: rgba(155, 148, 148, 0.9);
}

.home-slider .slider-nav {
  width: 100%;
  /* bottom: 24px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  /* position: absolute; */
  z-index: 3;
  padding: 0;
}

.home-slider .slider-nav-btn {
  border-radius: 50%;
  border: 1px solid black ;
  margin: .5em;
  /* transition: 0.075s; */
  height: 1em;
  width: 1em;
  cursor: pointer;
}

/* .slider-nav-btn:active {
  background-color: white;
} */

.home-slider .slider-nav-btn.active {
  background-color: rgba(87, 78, 78, 0.9);
}

.home-slider .slide-overlay {
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10% 7% 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 10%;
  left: 10%;
  bottom: 0;
  transition: 0.2s;
}

.slide-btn, .slide-btn-details {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.4s;
  position: absolute;
}

.slide-btn:hover {
  background-color: white;
  color: rgb(20, 20, 20);
}

.slide-btn-right{
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.slide-btn-left{
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.home-info, .home-contact{
  border-radius: 8px;
  box-shadow: 0 0 0 5px whitesmoke,
              0 5px 5px;
  width: 100%;
}

.packages-info, .contact-info{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color:  var(--color-primary);
  font-weight: bold;
  width: 100%;
}

.img-info{
  min-height: 10vh; /* 400px; Chequear altura con el tamaño de fuente final */
  width: 50%;
  display: block;
  position: relative;
  object-fit: cover;
}

.img-contact{
  min-height: 10vh; /* 400px; Chequear altura con el tamaño de fuente final */
  width: 1vw;
  object-fit: cover;
}

/* ---- FOOTER STYLES ---- */
.footer-root {
  background-color: var(--color-secondary);
  border-top: 1px solid var(--color-secondary);
  bottom: 0;
  color: white;
  display: flex;
  font-weight: bold;
  height: var(--footer-height);
  justify-content: center;
  position: relative;
  width: 100%;
}

.footer-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  max-width: var(--container-max-width); /* checkear el width con media-queries */
  width: 90%;
}
.footer-container span {
  font-size: 1.5rem;
}

.logo h1 {
  margin: 0;
}

.footer-navbar {
  display: flex;
  gap: 0.5rem;
}

.footer-btn {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  text-decoration: none;
  width: 40px;
}

.footer-btn i {
  transform: scale(1.3);
}

.footer-btn:hover {
  background-color:  rgba(255, 255, 255, 0.2);
}

/* ---- PAQUETES - SECCIONES ---- */
#pack-details-container {
  border: 1px solid #cecece;
  border-radius: 24px;
}

/* .main-pack-details { */
  /* background-color: #f1f2f5; */
  /* padding: 3rem 0; */
/* } */

.pack-list-section {
  display: block;
}

.pack-details-section {
  background-color: white;
  border-radius: 24px;
  display: block;
}

.pack-details-navigation {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 4rem 1rem 2.5rem 1rem;
}

.pack-btn {
  align-items: center;
  border-radius: 18px;
  border: 2px solid transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1.03rem;
  font-weight: 500;
  justify-content: center;
  padding: 0 1rem;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration: none;
  transition: 0.1s;
  width: auto;
}
.pack-btn:hover {
  filter: contrast(0.8) brightness(1.3);
}

.pack-btn.primary {
  background-color: var(--color-cuaternary);
  border: 2px solid transparent;
  color: white;
  height: auto;
}
.pack-btn.primary:active {
  background-color: white;
  color: var(--color-cuaternary);
  border: 2px solid var(--color-cuaternary);
}

.pack-btn.secondary {
  background-color: var(--color-secondary);
  border-radius: 50%;
  color: white;
  height: 60px;
  padding: 0;
  position: relative;
  width: 60px;
}
.pack-btn.secondary i {
  position: absolute;
  transform: scale(1.2);
}

.article-separator {
  border-top: 1px solid black;
  margin: 0.7rem auto;
  opacity: 0.1;
  width: 70%;
}

/* ---- PAQUETE - SECCION de DETALLES ---- */
/* -- BANNER -- */
.pack-banner-container {
  background-color: gray;
  border-start-end-radius: 24px;
  border-start-start-radius: 24px;
  display: flex;
  justify-content: center;
  margin: 0;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}
.pack-banner-container .slide-overlay {
  left: 51%;
}

.pack-banner-content {
  display: flex;
  position: relative;
  width: 100%;
}

.pack-banner-image {
  align-self: center;
  min-height: 400px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.pack-banner-overlay {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  left: 40%;
  padding: 5%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s;
}
.pack-banner-overlay h3 {
  font-weight: lighter;
  font-size: 3rem;
  margin: 1.5rem 0 0.5rem 0;
}

.pack-info-container {
  padding: 1.5rem 0;
}

/* -- SUB-SECCIONES -- */
.pack-details-wrapper {
  background-color: white;
}

.pack-details-summary {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 2rem 0.7rem 2rem;
  width: fit-content;
  transition: 0.2s;
}
.pack-details-summary:hover {
  color: var(--color-cuaternary);
}
.pack-details-summary::marker {
  color: var(--color-cuaternary);
  font-size: 1.25rem;
}

.pack-details-content {
  padding: 1rem 2rem;
}

.pack-details-wrapper.small-note {
  font-size: 0.9rem;
}

/* -- DESCRIPCION -- */
.pack-description {
  display: flex;
  justify-content: space-between;
}
.pack-description-text i {
  color: var(--color-cuaternary);
  margin-right: 0.2rem;
  padding-top: 5px;
  transform: scale(0.9);
}

.pack-description-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 48%;
  padding-right: 1rem;
}

.pack-geolocation-wrapper {
  background-color: #9cc0f9;
  border-radius: 8px;
  display: flex;
  width: 49%;
}

/* -- FORMULARIO -- */
.pack-details-form {
  align-items: center;
  background-color: #f5f1f1;
  border-radius: 6px;
  border: 1px solid #cecece;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.pack-details-form div {
  align-items: center;
  display: flex;
}
.pack-details-form label {
  font-size: 1.05rem;
}

.pack-details-form, .small-note {
  font-size: 0.9rem;
}

#cantidad-pasajes {
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1.05rem;
  text-align: center;
  margin: 0 0.5rem;
  width: 4rem;
}

/* -- IMAGENES -- */
.pack-images-container {
  display: grid;
  gap: 1.333%;
  grid-template-columns: 24% 24% 24% 24%;
}

.image-container {
  transition: 0.2s;
}
.image-container:hover {
  filter: brightness(1.1) saturate(0.85);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.pack-image {
  background-color: var(--color-secondary);
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

/* -- PRICE TABLE -- */
.pack-price-table {
  margin-bottom: 1rem;
  max-width: 50%;
  width: 100%;
}

.price-table-row {
  height: 2rem;
}

.price-table-row td {
  border-bottom: 1px solid gray;
}
.price-table-row td:nth-child(1) {
  font-weight: bold;
}
.price-table-row td:nth-child(2) {
  font-size: 1.05rem;
  text-align: end;
}

/* -- MODAL -- */
.modal-container {
  align-items: center;
  background-color: #1a262fd4;
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.modal-image {
  height: auto;
  max-height: 80%;
  max-width: 90%;
  min-width: 50%;
  animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/* ---- PAQUETES - FILTRO ---- */
.filter-container {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 24px;
  margin: 0 0 2rem 0;
  padding: 1rem;
}

.filter-container h3 {
  margin: 0 0 0.5rem 0;
}

.filter-form {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: var(--media-query-lg);
  width: 100%;
}

.filter-title-container {
  display: flex;
  grid-column: 1 / 6;
  justify-content: space-between;
  padding: 5px 10px;
}
.filter-title-container h3 {
  margin: 0;
}

.filter-label {
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px;
  padding-right: 0;
}

.filter-label-offer {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: flex-end;
  padding: 0;
  font-weight: bold;
}
.filter-label-offer span {
  margin-right: 0.5rem;
  width: auto;
}
.filter-label-offer input {
  margin: 2px 0 0 0;
  width: auto;
}

.filter-select {
  background-color: transparent;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 0.95rem;
  margin-top: 4px;
  padding: 0;
}

/* ---- PAQUETES - CONTAINER ---- */
.card-grid-container {
  display: grid;
  gap: 1.3333%;
  grid-template-columns: 24% 24% 24% 24%; /* Settear las columnas con media-queries */
  /* grid-column: auto; */
}

/* ---- PAQUETES - CARD ---- */
.card-container {
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  text-decoration: none;
  transition: 0.30s;
  width: -webkit-fill-available; /* Verificar la implementacion de multiples vendedores */
  width: -moz-available;
}

.card-container:hover {
  box-shadow: 0 3px 10px 5px rgba(50, 50, 50, .15);
}

.card-img-container {
  background-color: var(--color-primary);
  border-start-start-radius: 12px;
  border-start-end-radius: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-bottom: 70%; /* Verificar la implementacion con imagenes con diferentes size-ratios */
  position: relative;
}

.card-img {
  position: absolute;
  height: 100%;
}

.card-info-container {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-container, p {
  margin: 0.5rem 0;
  position: relative;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0;
}

.card-destination {
  font-weight: bold;
}

.card-information {
  font-size: 0.9rem;
}
.card-information i {
  margin-right: 0.3rem;
  color: var(--color-cuaternary);
  transform: scale(0.9);
}

.card-price-container {
  border-top: 1px solid lightgray;
  padding-top: 0.8rem;
  margin-top: 0.8rem;
}

.card-price {
  font-size: 1.3rem;
  font-weight: bolder;
}

.card-sale {
  align-items: center;
  background-color: var(--color-cuaternary);
  border-end-end-radius: 4px;
  border-end-start-radius: 4px;
  border: none;
  box-shadow: 0 3px 5px rgba(50, 50, 50, 0.5);
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  left: 20px;
  padding: 0.3rem 0.7rem;
  position: absolute;
  top: -6px;
  z-index: 1;
}

/* ---- PAGINA CAJA/CHECKOUT STYLES ---- */
.cart-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 370px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-list-message {
  align-items: center;
  border-radius: 12px;
  border: 2px dashed lightgray;
  color: gray;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  height: 315px;
  justify-content: center;
  text-align: center;
}

.cart-sidebar-container {
  position: relative;
}

/* -- SIDEBAR STYLES -- */
.cart-sidebar {
  position: fixed;
  width: 320px;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 24px;
}

.cart-sidebar-title{
  font-size: 1.1rem;
  margin: 0 0 1.2rem 0;
}

.cart-sidebar-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  text-align: end;
}
.cart-sidebar-pack-item {
  color: gray;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  margin-left: 1rem;
  padding-bottom: 0;
  padding-bottom: 1.2rem;
  text-align: start;
}

.cart-sidebar-item span {
  max-width: 60%;
}

.cart-sidebar-subtotal {
  border-top: 1px solid gray;
  display: flex;
  font-size: 1.05rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.cart-sidebar-btn {
  background-color: var(--color-cuaternary); /* Cambiar por color principal */
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
  transition: 0.2s;
  width: 100%;
}

.cart-sidebar-btn:hover {
  filter: brightness(1.2);
}

/* -- ITEM LIST STYLES -- */
.cart-item-container {
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 15px;
  display: flex;
  margin-bottom: 1rem;
  max-height: 360px;
  transition: 0.2s;
  width: 100%;
}

.cart-item-container:hover {
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10);
}

.img-container {
  align-items: center;
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
  background-color: gray;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  min-width: 240px;
}

.item-info-container {
  margin: 1.5rem;
  width: -webkit-fill-available;
  width: -moz-available;
}
.item-info-container p {
  margin: 0.8rem 0 0.2rem 0;
}

.item-title h3 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.item-info {
  margin-bottom: 0.2rem;
}

.item-info-list {
  margin-top: 0;
  font-size: 0.9rem;
}

.cart-btn-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.cart-item-btn {
  background-color: var(--color-primary);
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
}

/* ---- PÁGINA DE CONTACTO ---- */
/* Este conentedor coliciona con los estilos del form de la página paquetes */
.contact-form {
  max-width: 450px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  background-color: aliceblue;
}

h2{
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background-color:var(--color-primary);
  color: white;
  padding: 20px;
  font-size: 15px;
}

#boton:hover {
  cursor: pointer;
  background-color:var(--color-secondary);
}

/* ---- PÁGINA DE ARMÁ TU VIAJE ---- */
.main-container-travel{
  position:relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 5px 10px;
}

.main-container-travel form{
  position:relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: aliceblue;
  border-radius: 1% ;
  padding: 10px;

}

.main-container-travel form .titulo{
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  background-color: var(--color-secondary);
  font-weight: 600;
}

.main-container-travel .fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .input-field{
  display: flex;
  width: calc(100% / 3 -15px);
  flex-direction: column;
  margin: 4px 0;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 14rem;
  margin: 0.5rem;
}

.input-field label{
  font-size: 15px;
  font-weight: 600;
}

.input-field input {
  outline: none;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  border: 1px solid;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.input-field select {
  height: 2.6rem;
  padding-left: 0.5rem;
  bottom: 2px solid;
  margin: 8px 0;
  font-size: 15px;
  font-style: italic;
}

input[type=radio] {
  border: 0px;
  width:20% ;
  height: 15px;
}


/* ---- MEDIA QUERIES ---- */
@media (max-width: 1200px) {
  /* ---- PÄQUETES ---- */
  .card-grid-container {
    gap: 0.5%;
    grid-template-columns: 33% 33% 33%;
  }

  /* ---- PAQUETES - FILTRO ---- */
  .filter-form {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .filter-title-container {
    grid-column: 1 / 4;
  }
  
  /* ---- PAGINA CAJA/CHECKOUT STYLES ---- */
  .cart-item-container {
    flex-direction: column;
    max-height: 540px;
  }

  .img-container {
    height: 360px;
    align-items: center;
    border-start-end-radius: 15px;
    border-end-start-radius: 0px;
  }

  .img-container .card-img {
    width: 100%;
    height: auto;
  }
}

/* estilos particulares entre medio de estas 2 queries */
@media (max-width: 980px) and (min-width: 780px) {
  .pack-details-form {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    margin: 1rem 0;
    padding: 1.5rem;
  }
  .pack-details-form div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .pack-btn.primary {
    width: 100%;
  }
}

@media (max-width: 780px) {
  /* ---- PÄQUETES ---- */
  .card-grid-container {
    gap: 2%;
    grid-template-columns: 49% 49%;
  }

  /* -- PAQUETE - DESCRIPCION -- */
  .pack-description {
    flex-direction: column;
  }

  .pack-description-text {
    margin-bottom: 2rem;
    max-width: 100%;
    padding-right: 0;
  }

  .pack-geolocation-wrapper {
    width: 100%;
  }

  .pack-btn.primary{
    width: auto;
  }

  /* ---- PAQUETES - FILTRO ---- */
  .filter-form {
    grid-template-columns: 1fr 1fr;
  }
  .filter-title-container {
    grid-column: 1 / 3;
  }

  /* -- BURGER MENU -- */
  .header-navbar {
    align-items: flex-start;
    display: none;
    background-color: var(--color-primary);
    flex-direction: column;
    height: auto;
    max-width: 300px;
    padding-top: 1rem;
    position: absolute;
    right: 0px;
    top: 72px;
    width: 100%;
    z-index: 10;
    color: white;
  }

  .header-navbar.active {
    display: flex;
  }
  
  .header-burger-btn {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 2;
    opacity: 0;
  }

  .header-btn {
    border: none;
    border-radius: 0;
    color: white;
    padding: 1rem 1.8rem;
    width: -webkit-fill-available;
    width: -moz-available;
    transition: 0.2s;
  }
  .header-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 1.5rem;
  }
  .header-btn:active {
    background-color: white;
    padding: 1rem 1.5rem;
  }

  .header-cart-btn {
    margin: 1rem 1.5rem;
    transition: 0.2s;
  }
  .header-cart-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
  }
  .header-cart-btn:active {
    transform: scale(1.1);
  }

  .header-cart-counter .burger-counter {
    display: flex;
  }

  /* - - - - - - - */ 
  /* Implementacion tomada de: https://codepen.io/erikterwan/pen/EVzeRP?editors=1100 */
  .header-burger {
    display: block;
    margin-top: 5px;
  }

  .header-burger span {
    background: white;
    border-radius: 3px;
    display: block;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    width: 30px;
    z-index: 1;
    
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  .header-burger span:first-child {
    transform-origin: 0% 0%;
  }

  .header-burger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .header-burger input:checked ~ span {
    transform: rotate(-45deg) translate(1px, -1.5px);
  }

  .header-burger input:checked ~ span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .header-burger input:checked ~ span:nth-last-child(3) {
    opacity: 1;
    transform: rotate(45deg) translate(2px, -1px);
    /* background: #232323; */
  }
  /* - - - - - - - */

  /* -- SLIDER -- */
  .slide-overlay {
    left: 25%;
  }

  /* ---- PAQUETE - PANEL de DETALLES ---- */
  .pack-images-container {
    gap: 2%;
    grid-template-columns: 49% 49%;
  }

  .pack-price-table {
    max-width: 100%;
  }

  /* -- CARRITO -- */
  .cart-sidebar {
    position: static;
    width: auto;
  }
  
  .cart-container {
    grid-template-columns: auto;
  }

  .item-title {
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  /* ---- PÄQUETES ---- */
  .card-grid-container {
    gap: 1rem;
    grid-template-columns: 100%;
    justify-items: center;
  }

  /* ---- PAQUETES - FILTRO ---- */
  .filter-form {
    grid-template-columns: 1fr;
  }
  .filter-title-container {
    grid-column: 1 / 2;
    flex-direction: column;
    padding: 0 10px;
  }
  .filter-label-offer {
    justify-content: flex-start;
    margin-top: 1.5rem;
  }

  /* ---- PAQUETE - PANEL de DETALLES ---- */
  .pack-banner-overlay {
    left: 0%;
    top: 35%;
  }

  .pack-banner-container {
    max-height: 400px;
  }

  .pack-images-container {
    gap: 10px;
    grid-template-columns: 100%;
  }

  .pack-details-content {
    padding: 1rem 1.5rem;
  }

  .pack-details-form {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    margin: 1rem 0;
    padding: 1.5rem;
  }
  .pack-details-form div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .pack-btn.primary {
    width: 100%;
  }

  .pack-geolocation-wrapper {
    width: 100%;
  }

  .logo h1 {
    display: none;
  }
  .header-logo {
    max-width: 100%;
  }

  /* -- SLIDER -- */
  .slide-overlay {
    left: 0%;
    top: 35%;
  }
}
